

<br/>
<br/>
<div class="enter-form-container">
  <section class="enter-form">
    <form class="form" action="<%= url %>" method='POST'>
      <%= auth_token_input %>
      <div class="error">
             <%= flash[:errors].join("<br>").html_safe if flash[:errors] %>
      </div>
      <input id="username" type="text" name="user[username]" value="" placeholder="Username">

      <br/>
      <input id="password" type="password" name="user[password]" value="" placeholder="Password">
      <br/>
      <article class='no-account'>
          </form>
            <form action='<%=session_url%>' method="post" class='demo-user-form'>
              <input type="hidden" name="authenticity_token" value= '<%=form_authenticity_token%>'>
              <input type="hidden"  name="user[username]" value= 'guest'  >
              <input type="hidden"  name="user[password]" value= '123456'  >
              <input type="submit" value="Demo Account" class='button'>
            </form>
      </article>
      <div class="guestandin">
        <input class="button" type="submit" value="Sign In">
      </div>
    </form>


  </section>
</div>
