<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png"
    href="http://res.cloudinary.com/dzmavimlg/image/upload/c_scale,w_241/v1467247873/sky_mdg1vm.png" />
  <script src="http://widget.cloudinary.com/global/all.js" type="text/javascript">
  </script>
  <script type="text/javascript">
    window.cloudinary_options = {
      cloud_name: '<%= ENV['CLOUD_NAME']%>',
      upload_preset: '<%= ENV['UPLOAD_PRESET']%>'
    }
  </script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.52/wavesurfer.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <title>NimbusPlaylist</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
</body>
</html>
